.odd {
    background-color: #ffc0cb;
    font-family: Verdana, "DejaVu Sans", "sans-serif";
}

#big_blue {
    color: #0000ff;
    font-size: 36px;
}

.odd.cool {
    font-size: 24px;
}

#green {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}