body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title, .content, .button-container {
  padding: 8px;
  font-size: 16px;  
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 17px 8px;
  margin: 8px 0;
}

.button-container {
  background: #e3f4ff;
  text-align: center; 
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 20px;
  margin: 0 auto;
}


